.container {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background: white;
    border-radius: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
    width: 100%;
}

.text {
    color: #17cc81;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #17cc81;
    border-radius: 9px;
}

.inputs {
    margin-top: 35px;
    /* align-items: center; */
    display: flex;
    /* width: 0px; */
    /* height: 10px; */
    flex-direction: column;
    gap: 25px;
}

.input {
    align-items: center;
    display: flex;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 10px;
}

.input img {
    margin: 0px 30px;
}


.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #159b63;
    font-size: 19px;
    
}

.submit-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 40px;
    background: #159b63;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform ;
    transition-property: box-shadow, transform ;
    
}
.submit:hover, .submit:focus, .submit:active{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}




.grey {
    background: #eaeaea;
    color: #159b63;
}

.role {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    
    font-size: 18px;
    font-weight: bold;
    background-color: #159b63;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 180px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform ;
    transition-property: box-shadow, transform ;
}


.button:hover, .button:focus, .button:active{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.button2 {
    
    font-size: 18px;
    font-weight: bold;
    background-color: #159b63;
    color: white;
    border-radius: 40px;
    height: 40px;
    width: 180px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform ;
    transition-property: box-shadow, transform ;
    position: relative;
    bottom: 30px;
}


.button2:hover, .button2:focus, .button2:active{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.body{
    justify-content: center;
    text-align: center;
    display: flex;
    position: relative;
    top: 90px;
    
}